extends layout

block content
  .row
    .col-xs-12
      -if (messages.errors)
        .alert.alert-danger
          p Error:
          ul
            -each message in messages.errors
              li #{message.msg}. Value: #{message.value}
      -if (messages.success)
        .alert.alert-success
          p
            strong Success!:&nbsp;
            -each message in messages.success
              span= message
  .row
    .col-xs-12.col-md-2
      .temp-display
        .temp-dis Current:
        #temp.temp #{temp}
    .col-xs-12.col-md-2
      .temp-display
        .temp-dis Target:
        #target.temp #{target}
  .row
    .col-xs-12.col-md-3.col-md-offset-2
      form(name="target", action="/target", method="post")
        p Set target:
        input(type="text", name="target", value=target)
        input(type="submit", name="save", value="Save")
  .row
    .col-xs-12
      #placeholder.col-xs-12
        .col-xs-6.col-xs-offset-3
          .progress
            div(class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:10%;").progress-bar.progress-bar-warning
  .row
    .col-xs-12
      form(name="edit", action="/", method="post")
        input(type="submit", name="edit", value="Clear")
        input(type="submit", name="edit", value="Save")
